body{
    background-image: url('../images/orientalWall.jpg');
    opacity: .1;
}
h1 {
    text-align:center;   
}
h2 {
    text-align: center;
    
}
a {
    color:darkkhaki;
}
ul {
    list-style-type: none;
   
}