html
head
title 
style
body
img.a{

}
h1 {
    font-family: 'IM Fell DW Pica', serif;
    text-align: center;
    font-size: 300px;
}
img.b{
    vertical-align:auto;
  
}
img.c{
    vertical-align:auto;
}
img.d{     
vertical-align:auto;
}
div{
    background-color: brown;
    position: relative;
}