.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}
.item {
    flex-grow: 1;
    align-self: auto;
}
.wrapper {
  display: flex;
  flex-flow: row wrap;
}
.wrapper > * {
  flex: 1 100%;
}
 .aside { flex: 60px ; }
 .main { flex: 2 0px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .aside-2 { order: 3; }
ul {
    list-style: none;
}
.aside{
    list-style-type:none;
    border-style: solid;
    border-color: black; 
    
} 
body{
    background-image: url('images/paperin.jpg');
    background-position: top left;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-origin: padding-box;
  background-clip: content-box;
  }
div {
  width: 800px;
  border: none;
  padding: 25px;
  margin: 25px;
  color: black; 
  
}

