img{
    height: 250px;
    width: 175px;
}

body{
    background-image: url('../images/vintwallppr.jpg');
    background-position: top left;
  background-size: 100% 100%;
  background-repeat: repeat;
  background-attachment: scroll;
  background-origin: padding-box;
  background-clip: content-box;
  }
div {
  width: 800px;
  border: none;
  padding: 25px;
  margin: 25px;
  color: black; 
  
}

